.info-modal {
  width: 100%;
  height: 100%;
}

.info-modal h2 {
  color: #333333;
  font-size: 22px;
  margin-bottom: 40px;
  text-transform: uppercase;
  float: left;
  font-weight: 600;
}

.info-modal figure {
  position: relative;
}

.info-modal .coins {
  float: left;
  margin-left: -30px;
}

.coins span{
  font-size: 17px;
  margin-left: 30px;
}

.coins i{
  margin-right: 5px;
  font-size: 20px;
}

.coins .fa-money{
  color: #f7dc70;
}

.coins .fa-diamond{
  color: #b54870;
}

.info-modal .coins a {
  margin-left: 20px;
  max-width: 230px;
}

.info-modal .coins a span {
  margin-left: 0;
}

.info-user .coins span {
  color: #333333;
}

.info-user figure {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 20px
}

.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;
  opacity: 0;
  z-index: 1;
}

.modal-content.show {
  opacity: 1;
  z-index: 3;
}
