.info-modal figure {
  position: relative;
}

.info-modal .coins {
  float: left;
  margin-left: -30px;
}

.coins span{
  font-size: 17px;
  margin-left: 30px;
}

.coins i{
  margin-right: 5px;
  font-size: 20px;
}

.coins .fa-money{
  color: #f7dc70;
}

.coins .fa-diamond{
  color: #b54870;
}

.info-modal .coins a {
  margin-left: 20px;
  max-width: 230px;
}

.info-modal .coins a span {
  margin-left: 0;
}
