<!-- <header class="user-on"> -->
<header>
  <div class="navegacao">
    <div class="container">
      <a [routerLink]="['/']" class="logo">
        <img src="../../assets/img/logo.png" alt="">
      </a>

      <nav>
        <ul class="menu">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/hackathons']">Hackathons</a></li>
          <li><a id="item-shopping" [routerLink]="['/shopping']">Shopping</a></li>
          <li><a [routerLink]="['/blog']">Blog</a></li>
          <li><a [routerLink]="['/contato']">Contato</a></li>
        </ul>
      </nav>

      <div class="btns">
        <a [routerLink]="['/cadastro']" class="btn-action red">CRIAR CONTA</a>
        <a [routerLink]="['/login']" class="btn-action green">LOGIN</a>
      </div>

      <a [routerLink]="['/user']" class="action-perfil">
        <div class="row info-user">
          <div class="flex-row">
            <figure>
              <img src="../../assets/img/user.jpg" alt="" />
            </figure>
          </div>
          <ul class="box-logout text-right">
            <li class="row flex-right">
              <a [routerLink]="['/user']" class="flex-row">
                Perfil
                <i class="fa fa-cog pull-left"></i>
              </a>
            </li>
            <li class="row flex-right">
              <a id="btn-logout" class="flex-row">
                Sair
                <i class="fa fa-sign-out pull-left"></i>
              </a>
            </li>
          </ul>
        </div>
      </a>
    </div>
  </div>
</header>
