<header>
  <div class="navegacao">
    <div class="container">
      <h1>
        <a href="#" class="logo">
          <img src="../../assets/img/logo.png" alt="">
        </a>
      </h1>

      <nav>
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Hackathon</a></li>
          <li><a href="#">Shopping</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>

      <a href="#" class="registrar">REGISTRAR</a>

      <ul class="redes-sociais">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</header>
