<header>
  <div class="navegacao">
    <div class="container">
      <a [routerLink]="['/']" class="logo">
        <img src="../../assets/img/logo.png" alt="">
      </a>

      <nav>
        <ul class="menu">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/hackathons']">Hackathons</a></li>
          <li><a [routerLink]="['/blog']">Blog</a></li>
          <li><a [routerLink]="['/contato']">Contato</a></li>
        </ul>
      </nav>

      <div class="btns">
        <a href="#" class="btn-action red">CRIAR CONTA</a>
        <a href="#" class="btn-action green">LOG IN</a>
      </div>
    </div>
  </div>
</header>
