<div class="container">
  <div class="perfil row">
    <div class="col-md-4">
      <figure>
        <img src="../../assets/img/user.jpg" alt="" />
        <div class="hp">
          <strong><i class="fa fa-bolt" aria-hidden="true"></i> 12000</strong>
        </div>
      </figure>
    </div>
    <div class="col-md-8">
      <h2>Everton Strack</h2>
      <div class="coins">
        <span><i class="fa fa-money" aria-hidden="true"></i> 1.500</span>
        <span><i class="fa fa-diamond" aria-hidden="true"></i> 200</span>
      </div>
      <p>Meu nome é Everton Strack , mas todos me chamam de Thom. Tenho 29 anos, moro em São Leopoldo, Rio Grande do Sul e trabalho como Desenvolvedor Front-end desde 2008.</p>
      <p>Atualmente trabalho como desenvolvedor front-end freelancer. Já trabalhei em empresas como Brivia, E-Storage, W3Haus e Huia. Desenvolvi e participei de vários projetos legais, alguns deles estão aqui no meu portfolio de desenvolvedor front-end. Seja Bem vindo!.</p>
      <p>Sou estudante de Design e estou sempre conectado à novas tendências tecnológicas e inovadoras. Os 8 anos de experiência na área de front-end e pelo menos o dobro em paixão por tecnologia, resultam em um trabalho entregue com rapidez e competência. Buscando atender da melhor forma a proposta (e os sonhos) do cliente. Isso quer dizer que faço HTML, CSS e Javascript da melhor forma possível, utilizando as novas tecnologias do HTML5 e CSS3.</p>
      <div class="conquistas">
        <span><i class="fa fa-trophy ouro" aria-hidden="true"></i> 2</span>
        <span><i class="fa fa-trophy prata" aria-hidden="true"></i> 5</span>
        <span><i class="fa fa-trophy bronze" aria-hidden="true"></i> 9</span>
      </div>
    </div>
  </div>
  <section class="listagem-relacionada">
    <h2>Hackathons participados</h2>
    <ul class="list-post">
      <li class="col-md-4">
        <figure>
          <img src="../../assets/img/img-default.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li class="col-md-4">
        <figure>
          <img src="../../assets/img/img-default.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li class="col-md-4">
        <figure>
          <img src="../../assets/img/img-default.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
    </ul>
    <h2>Cursos adquiridos</h2>
    <ul class="list-post">
      <li class="col-md-4">
        <figure>
          <img src="../../assets/img/img-default.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li class="col-md-4">
        <figure>
          <img src="../../assets/img/img-default.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li class="col-md-4">
        <figure>
          <img src="../../assets/img/img-default.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
    </ul>
  </section>
</div>
