<div class="blog-listagem">
  <div class="container">
    <h2 class="title">Blog</h2>
    <h3 class="sub-title">Conheça mais sobre o mundo de hackathons</h3>

    <ul class="list-post">
      <li class="col-md-4">
        <img src="../../assets/img/img-default.jpg" alt="" />
        <div class="day">
          <strong>15</strong>
          <span>Jan</span>
        </div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span>542</span>
          <span>17</span>
        </div>
      </li>
      <li class="col-md-4">
        <img src="../../assets/img/img-default.jpg" alt="" />
        <div class="day">
          <strong>15</strong>
          <span>Jan</span>
        </div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span>542</span>
          <span>17</span>
        </div>
      </li>
      <li class="col-md-4">
        <img src="../../assets/img/img-default.jpg" alt="" />
        <div class="day">
          <strong>15</strong>
          <span>Jan</span>
        </div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span>542</span>
          <span>17</span>
        </div>
      </li>
      <li class="col-md-4">
        <img src="../../assets/img/img-default.jpg" alt="" />
        <div class="day">
          <strong>15</strong>
          <span>Jan</span>
        </div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span>542</span>
          <span>17</span>
        </div>
      </li>
      <li class="col-md-4">
        <img src="../../assets/img/img-default.jpg" alt="" />
        <div class="day">
          <strong>15</strong>
          <span>Jan</span>
        </div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span>542</span>
          <span>17</span>
        </div>
      </li>
      <li class="col-md-4">
        <img src="../../assets/img/img-default.jpg" alt="" />
        <div class="day">
          <strong>15</strong>
          <span>Jan</span>
        </div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span>542</span>
          <span>17</span>
        </div>
      </li>
    </ul>
  </div>
</div>
