<div class="listagem">
  <div class="container">
    <h1 class="title">Blog</h1>
    <h2 class="sub-title">Conheça mais sobre o mundo de hackathons</h2>

    <ul class="list-post">
      <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
        <figure>
          <img src="../../assets/img/img-default.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
        <figure>
          <img src="../../assets/img/img-default.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
        <figure>
          <img src="../../assets/img/img-default.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
        <figure>
          <img src="../../assets/img/img-default.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
        <figure>
          <img src="../../assets/img/img-default.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
        <figure>
          <img src="../../assets/img/img-default.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
    </ul>
  </div>
</div>
