.blog-listagem .title{
  color: #ae3662;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}

.blog-listagem .sub-title{
  color: #999999;
  font-size: 28px;
  text-align: center;
  font-family: 'Tahoma', sans-serif;
  margin-bottom: 30px;
}


.list-post .day{
  background-color: #35c1d0;
  color: #fff;
}
