<section id="cadastro" class="formulario">
  <div class="container">
    <h2 class="title text-center">ENTRE EM CONTATO</h2>
    <br>
    <div class="row">
      <form action="">
        <div class="col-md-6 center-block">
          <div class="form-group">
            <label for="exampleInputEmail1">Nome:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">E-mail:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Mensagem:</label>
            <textarea class="form-control" name="name" rows="8" cols="80"></textarea>
          </div>
          <div class="row">
            <div class="flex-row">
              <a href="javascript:void(0)" class="btn-action green openModal">ENVIAR</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="nosso-overlay"></div>
<div class="modal">
  <div class="modal-dialog" role="document">
    <div id="mensagem-enviada" class="show modal-content">
      <div class="modal-header">
        <h3 class="text-green text-center">MENSAGEM ENVIADA</h3>
      </div>
      <div class="modal-body">
        <div class="info-modal">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>Sua mensagem foi enviada e em breve entraremos em contato!</h3>
            </div>
          </div>
          <div class="row divider">
            <div class="line"></div>
          </div>
          <div class="row">
            <div class="col-md-12 flex-row">
              <div class="coins pull-right">
                <a href="javascript:void(0)" class="btn-fechar btn-action green pull-left">
                  <span><i class="fa fa-times" aria-hidden="true"></i> FECHAR</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
